@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "微軟正黑體";
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

main {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0px;
}

select, input {
  outline: none;
}

html {
  background: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px auto;
}

a:link {
  text-decoration: none;
}

html {
  width: 100%;
  height: 100%;
  background-color: #293921;
}
html body {
  min-width: 1100px;
  height: auto;
  overflow: hidden;
}
html body main {
  width: 100%;
  height: 1000px;
  overflow: hidden;
  position: relative;
}
html body main .center {
  width: 1100px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  position: relative;
}
html body main .center .top {
  width: 100%;
  height: 60%;
  position: relative;
}
html body main .center .top .logo {
  width: 223px;
  height: 231px;
  background: url(../img/LOGO.png) no-repeat center;
  background-size: contain;
  z-index: 100;
  position: absolute;
  top: 24px;
  left: 439px;
}
html body main .center .top .inputBox {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 282px;
  left: 432px;
  z-index: 100;
}
html body main .center .top .inputBox .input {
  width: auto;
}
html body main .center .top .inputBox .input label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 8px 0;
  position: relative;
}
html body main .center .top .inputBox .input label .inputIc {
  width: 19px;
  height: 21px;
  background: url(../img/inputIcon.png) no-repeat;
  background-size: 200%;
  position: absolute;
  top: 15px;
  left: 30px;
  z-index: 5;
}
html body main .center .top .inputBox .input label .inputIc.id {
  background-position-x: 0%;
}
html body main .center .top .inputBox .input label .inputIc.pw {
  background-position-x: 100%;
}
html body main .center .top .inputBox .input label input {
  width: 235px;
  height: 50px;
  background: #161412;
  border: 1px solid #efefef;
  border-radius: 10px;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: -1px;
  text-align: center;
  padding: 3px 47px 0 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 2px;
}
html body main .center .top .inputBox .input label input::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 20px;
}
html body main .center .top .inputBox .input label input::-moz-placeholder {
  color: #ffffff;
  font-size: 20px;
}
html body main .center .top .inputBox .input label input:-ms-input-placeholder {
  color: #ffffff;
  font-size: 20px;
}
html body main .center .top .inputBox .input label input::-ms-input-placeholder {
  color: #ffffff;
  font-size: 20px;
}
html body main .center .top .inputBox .input label input::placeholder {
  color: #ffffff;
  font-size: 20px;
}
html body main .center .top .inputBox .input label:last-child {
  margin: 0 0 8px 0;
}
html body main .center .top .inputBox button {
  width: 123px;
  height: 63px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-2%, #979797), color-stop(9%, #ffffff), color-stop(46%, #979797), color-stop(77%, #ffffff), to(#ababab));
  background: linear-gradient(to top, #979797 -2%, #ffffff 9%, #979797 46%, #ffffff 77%, #ababab 100%);
  border: 3px solid transparent;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #890000;
  font-size: 29px;
  font-weight: bold;
  letter-spacing: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 135px;
  right: 51px;
  z-index: 4;
}
html body main .center .top .inputBox button:hover, html body main .center .top .inputBox button:active, html body main .center .top .inputBox button.active {
  background: #ff9900;
  border: 3px solid #cccccc;
  -webkit-box-shadow: inset 1px 0px 2px rgba(0, 0, 0, 0.29), inset 0px 2px 4px rgb(255, 255, 255);
          box-shadow: inset 1px 0px 2px rgba(0, 0, 0, 0.29), inset 0px 2px 4px rgb(255, 255, 255);
  color: #000000;
}
html body main .center .top .inputBox .btnLine {
  width: 143px;
  height: 143px;
  background: -webkit-gradient(linear, left bottom, left top, from(#c2994f), color-stop(26%, #7f5f23), color-stop(44%, #dcbc80), color-stop(92%, #dcbc80));
  background: linear-gradient(to top, #c2994f 0%, #7f5f23 26%, #dcbc80 44%, #dcbc80 92%);
  border-radius: 50%;
  position: absolute;
  top: -3px;
  right: -160px;
  z-index: -2px;
}
html body main .center .top .unionLogo {
  width: 243px;
  height: 43px;
  background: url(../img/union.png) no-repeat center;
  background-size: contain;
  position: absolute;
  top: 510px;
  left: 433px;
}
html body main .center .bottom {
  width: 100%;
  height: 40%;
  position: relative;
}
html body main .center .bottom .objLeft {
  width: 653px;
  height: 1006px;
  background: url(../img/objectLeft.png) no-repeat;
  position: absolute;
  top: -600px;
  right: 670px;
  z-index: -4;
  -webkit-animation: invisible 0.3s linear, showUp 0.6s 0.3s linear forwards;
          animation: invisible 0.3s linear, showUp 0.6s 0.3s linear forwards;
}
html body main .center .bottom .objectLeft_shadow {
  width: 703px;
  height: 1000px;
  background: url(../img/objectLeft_shadow.png) no-repeat;
  position: absolute;
  top: -600px;
  right: 626px;
  z-index: -5;
  -webkit-animation: invisible 0.35s linear, showUp 0.6s 0.35s linear forwards;
          animation: invisible 0.35s linear, showUp 0.6s 0.35s linear forwards;
}
html body main .center .bottom .objRight {
  width: 622px;
  height: 1013px;
  background: url(../img/objectRight.png) no-repeat;
  position: absolute;
  top: -600px;
  left: 604px;
  z-index: -4;
  -webkit-animation: invisible 0.3s linear, showUp2 0.6s 0.3s linear forwards;
          animation: invisible 0.3s linear, showUp2 0.6s 0.3s linear forwards;
}
html body main .center .bottom .objectRight_shadow {
  width: 707px;
  height: 999px;
  background: url(../img/objectRight_shadow.png) no-repeat;
  position: absolute;
  top: -599px;
  left: 590px;
  z-index: -5;
  -webkit-animation: invisible 0.35s ease-in, showUp2 0.6s 0.35s linear forwards;
          animation: invisible 0.35s ease-in, showUp2 0.6s 0.35s linear forwards;
}
html body main .center .bottom .soccer {
  width: 343px;
  height: 342px;
  background: url(../img/soccer.png) no-repeat;
  background-size: contain;
  position: absolute;
  top: -11px;
  left: 378px;
  opacity: 1;
  -webkit-animation: invisible 0.8s ease-in-out, ball 0.1s 0.8s ease-out forwards;
          animation: invisible 0.8s ease-in-out, ball 0.1s 0.8s ease-out forwards;
  z-index: 5;
}
html body main .bg {
  width: 100%;
  min-width: 1100px;
  height: 100%;
  background: url(../img/BG.png) no-repeat top center;
  position: absolute;
  top: 0;
  z-index: -999;
}

@-webkit-keyframes invisible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes invisible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes ball {
  0% {
    top: -232px;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-filter: blur(5);
            filter: blur(5);
    opacity: 0;
  }
  100% {
    top: -11px;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(1);
            filter: blur(1);
    opacity: 1;
  }
}
@keyframes ball {
  0% {
    top: -232px;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-filter: blur(5);
            filter: blur(5);
    opacity: 0;
  }
  100% {
    top: -11px;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(1);
            filter: blur(1);
    opacity: 1;
  }
}
@-webkit-keyframes showUp {
  0% {
    -webkit-transform: translateX(300%);
            transform: translateX(300%);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(90%);
            transform: translateX(90%);
  }
  75% {
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes showUp {
  0% {
    -webkit-transform: translateX(300%);
            transform: translateX(300%);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(90%);
            transform: translateX(90%);
  }
  75% {
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes showUp2 {
  0% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(-90%);
            transform: translateX(-90%);
  }
  75% {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes showUp2 {
  0% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(-90%);
            transform: translateX(-90%);
  }
  75% {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}